# Ground Truth and Step Count Merge

## Setup

In [54]:
import pandas as pd
import numpy as np

In [55]:
import warnings
warnings.filterwarnings("ignore")

## Load and Check Data Integrity

**Coding Ground Truth**

In [56]:
# Import coding ground truth
ground_truth = pd.read_csv("ACT24_groundtruth_secbysec.csv", dtype={"work_type": "string"}) #dtype since missing values were stored as NaN, should be as pd.na

In [57]:
# Display first 5 rows for inspection
ground_truth.head()

,id,observation,date,date_time,activity_type,broad_activity_type,work_type,posture,sedentary_not,walking_not,activity_intensity
0,102,1,2019-07-24,2019-07-24 08:20:19,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light
1,102,1,2019-07-24,2019-07-24 08:20:20,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light
2,102,1,2019-07-24,2019-07-24 08:20:21,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light
3,102,1,2019-07-24,2019-07-24 08:20:22,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light
4,102,1,2019-07-24,2019-07-24 08:20:23,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light

In [58]:
# Check for duplicate timestamps
check = ground_truth[["id", "observation", "date_time"]].value_counts()
check[check > 1]

Series([], Name: count, dtype: int64)

**Steps Ground Truth**

In [59]:
# Import seconds ground truth
seconds = pd.read_csv("seconds_ground_truth.csv")

In [60]:
# Display first 5 rows for inspection
seconds.sort_values(["ID", "Session", "Date", "Time"]).head()

         ID  Session Relative Time       Date      Time  Quality  Step
114078  102        1       0:00:01  7/24/2019  08:20:20  Codable     0
114079  102        1       0:00:02  7/24/2019  08:20:21  Codable     0
114080  102        1       0:00:03  7/24/2019  08:20:22  Codable     0
114081  102        1       0:00:04  7/24/2019  08:20:23  Codable     0
114082  102        1       0:00:05  7/24/2019  08:20:24  Codable     1

In [61]:
# Check for duplicate timestamps
check = seconds[["ID", "Session", "Date", "Time"]].value_counts()
# Duplicate timestamps were found, check for specific rows and step counts
check[check > 1].reset_index().merge(right = seconds, on=["ID", "Session", "Date", "Time"])

         ID  Session        Date      Time  count Relative Time  Quality  Step
0       117        1   8/20/2019  05:36:54      2       2:19:08  Codable     0
1       117        1   8/20/2019  05:36:54      2       2:19:08  Codable     0
2       127        1    9/5/2019  04:24:03      2       0:16:07  Codable     0
3       127        1    9/5/2019  04:24:03      2       0:16:07  Codable     0
4       127        1    9/5/2019  04:24:10      2       0:16:14  Codable     0
...     ...      ...         ...       ...    ...           ...      ...   ...
152065  133        1  10/10/2019  04:02:10      2       1:30:14  Codable     1
152066  133        1  10/10/2019  03:37:28      2       1:05:32  Codable     0
152067  133        1  10/10/2019  03:37:28      2       1:05:32  Codable     0
152068  127        1    9/5/2019  04:30:03      2       0:22:07  Codable     0
152069  127        1    9/5/2019  04:30:03      2       0:22:07  Codable     0

[152070 rows x 8 columns]

## Ground Truth Data Cleaning

In [62]:
def quality_agg(srs):
    if len(srs) > 1:
        return "Ambiguous"
    return srs.iloc[0]

In [63]:
seconds_2 = seconds.copy()
# Rename columns
seconds_2.rename(columns={"ID": "id", "Session": "observation"}, inplace=True)
# Remove duplicates
# Logic: Get max step count for each timestamp
seconds_2 = seconds_2.groupby(["id", "observation", "Date", "Time", "Relative Time"]).agg({'Quality': quality_agg, 'Step': 'max'}).reset_index()
# Create datetime column
seconds_2["date_time"] = pd.to_datetime(seconds_2['Date'] + ' ' + seconds_2['Time'])
seconds_2

,id,observation,Date,Time,Relative Time,Quality,Step,date_time
0,102,1,7/24/2019,08:20:20,0:00:01,Codable,0,2019-07-24 08:20:20
1,102,1,7/24/2019,08:20:21,0:00:02,Codable,0,2019-07-24 08:20:21
2,102,1,7/24/2019,08:20:22,0:00:03,Codable,0,2019-07-24 08:20:22
3,102,1,7/24/2019,08:20:23,0:00:04,Codable,0,2019-07-24 08:20:23
4,102,1,7/24/2019,08:20:24,0:00:05,Codable,1,2019-07-24 08:20:24
...,...,...,...,...,...,...,...,...
376600,154,2,2/23/2020,01:06:29,0:02:20,Codable,1,2020-02-23 01:06:29
376601,154,2,2/23/2020,01:06:30,0:02:21,Codable,2,2020-02-23 01:06:30
376602,154,2,2/23/2020,01:06:31,0:02:22,Codable,2,2020-02-23 01:06:31
376603,154,2,2/23/2020,01:06:32,0:02:23,Codable,1,2020-02-23 01:06:32
376604,154,2,2/23/2020,01:06:33,0:02:24,Codable,2,2020-02-23 01:06:33

In [64]:
# Check for duplicates again
check = seconds_2[["id", "observation", "date_time"]].value_counts()
check[check > 1]

Series([], Name: count, dtype: int64)

In [65]:
ground_truth_2 = ground_truth.copy()
# Create datetime column
ground_truth_2["date_time"] = pd.to_datetime(ground_truth["date_time"])
ground_truth_2

,id,observation,date,date_time,activity_type,broad_activity_type,work_type,posture,sedentary_not,walking_not,activity_intensity
0,102,1,2019-07-24,2019-07-24 08:20:19,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light
1,102,1,2019-07-24,2019-07-24 08:20:20,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light
2,102,1,2019-07-24,2019-07-24 08:20:21,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light
3,102,1,2019-07-24,2019-07-24 08:20:22,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light
4,102,1,2019-07-24,2019-07-24 08:20:23,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light
...,...,...,...,...,...,...,...,...,...,...,...
511814,154,2,2020-02-23,2020-02-23 15:55:56,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary
511815,154,2,2020-02-23,2020-02-23 15:55:57,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary
511816,154,2,2020-02-23,2020-02-23 15:55:58,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary
511817,154,2,2020-02-23,2020-02-23 15:55:59,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary
511818,154,2,2020-02-23,2020-02-23 15:56:00,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary

## Check Start and End Times of Both Files

In [66]:
# Function to get start and end info for each id and session
def start_end(GT, id, session): 
    subset = GT[(GT["id"] == id) & (GT["observation"] == session)].reset_index(drop=True)
    start = min(subset["date_time"])
    end = max(subset["date_time"])
    # for i, row in subset.iterrows():
    #     if i != 0:
    #         if row["date_time"] < start:
    #             start = row["date_time"]
    #         elif row["date_time"] > end:
    #             end = row["date_time"]
    return [start, end]
    #print(f"ID = {id}, Session = {session}, Start = {start}, End = {end}")

In [67]:
# Function to apply start_end to entire dataframe (ie. each id and session)
def start_time_dataframe(df):
    id_ses = df.groupby(["id", "observation"]).size().reset_index().rename(columns={0: "count"})
    times = {"ID": [], 
                   "Session": [],
                   "Start": [],
                   "End": []}
    for i, row in id_ses.iterrows():
        times["ID"].append(row["id"])
        times["Session"].append(row["observation"])
        ls = start_end(df, row["id"], row["observation"])
        times["Start"].append(ls[0])
        times["End"].append(ls[1])
    return pd.DataFrame(times)

In [68]:
# Get start and end times from both coding and step ground truths
GT_times = start_time_dataframe(ground_truth_2)
seconds_times = start_time_dataframe(seconds_2)

In [69]:
start_end_info = pd.merge(GT_times, seconds_times, on=["ID", "Session"], how="outer", suffixes=("_GT", '_secondsFile'))
# Get differences between seconds/coding ground truth, in seconds
start_end_info["StartDiffSecs(GT-seconds)"] = (start_end_info["Start_GT"] - start_end_info["Start_secondsFile"]).dt.total_seconds()
start_end_info["EndDiffSecs(GT-seconds)"] = (start_end_info["End_GT"] - start_end_info["End_secondsFile"]).dt.total_seconds()
start_end_info

,ID,Session,Start_GT,End_GT,Start_secondsFile,End_secondsFile,StartDiffSecs(GT-seconds),EndDiffSecs(GT-seconds)
0,102,1,2019-07-24 08:20:19,2019-07-24 11:21:13,2019-07-24 08:20:20,2019-07-24 11:05:37,-1.0,936.0
1,102,2,2019-07-25 12:42:08,2019-07-25 15:42:00,2019-07-25 12:42:09,2019-07-25 15:28:35,-1.0,805.0
2,116,1,2019-08-20 08:08:45,2019-08-20 11:09:00,2019-08-20 08:08:46,2019-08-20 11:08:56,-1.0,4.0
3,116,2,2019-08-21 11:10:12,2019-08-21 13:28:00,2019-08-21 11:09:48,2019-08-21 13:26:58,24.0,62.0
4,117,1,2019-08-20 15:17:46,2019-08-20 18:18:00,2019-08-20 03:17:47,2019-08-20 06:05:55,43199.0,43925.0
5,117,2,2019-08-21 07:11:45,2019-08-21 10:13:00,2019-08-21 07:11:46,2019-08-21 09:41:43,-1.0,1877.0
6,122,1,2019-08-28 10:06:41,2019-08-28 13:07:00,2019-08-28 10:06:42,2019-08-28 12:42:21,-1.0,1479.0
7,122,2,2019-08-29 15:19:51,2019-08-29 18:23:00,2019-08-29 03:19:52,2019-08-29 06:22:41,43199.0,43219.0
8,124,1,2019-08-28 14:59:09,2019-08-28 17:59:05,2019-08-28 02:59:10,2019-08-28 04:49:57,43199.0,47348.0
9,124,2,2019-08-29 09:31:00,2019-08-29 12:31:00,2019-08-29 09:31:01,2019-08-29 12:19:15,-1.0,705.0
10,126,1,2019-09-02 11:14:51,2019-09-02 14:15:00,NaT,NaT,NaN,NaN
11,126,2,2019-09-06 10:36:00,2019-09-06 13:36:00,2019-09-06 10:36:01,2019-09-06 12:51:16,-1.0,2684.0
12,127,1,2019-09-05 16:07:56,2019-09-05 19:08:00,2019-09-05 04:07:57,2019-09-05 06:28:24,43199.0,45576.0
13,127,2,2019-09-09 10:56:04,2019-09-09 13:56:00,2019-09-09 10:56:01,2019-09-09 13:37:29,3.0,1111.0
14,128,1,2019-09-06 07:00:01,2019-09-06 10:00:00,NaT,NaT,NaN,NaN
15,128,2,2019-09-10 13:21:00,2019-09-10 16:17:00,2019-09-10 01:21:01,2019-09-10 04:16:36,43199.0,43224.0
16,129,1,2019-09-07 08:55:00,2019-09-07 11:55:00,2019-09-07 08:55:01,2019-09-07 11:53:07,-1.0,113.0
17,129,2,2019-09-10 16:31:46,2019-09-10 19:32:00,2019-09-10 04:31:47,2019-09-10 07:28:35,43199.0,43405.0
18,130,1,2019-09-08 17:28:00,2019-09-08 20:28:00,2019-09-08 05:28:01,2019-09-08 08:25:55,43199.0,43325.0
19,130,2,2019-09-10 08:02:01,2019-09-10 11:02:00,2019-09-10 08:02:02,2019-09-10 10:49:00,-1.0,780.0
20,131,1,2019-09-12 10:57:42,2019-09-12 13:58:00,2019-09-12 10:57:43,2019-09-12 13:57:50,-1.0,10.0
21,131,2,2019-09-16 09:04:54,2019-09-16 11:55:00,2019-09-16 09:04:55,2019-09-16 11:54:51,-1.0,9.0
22,132,1,2019-10-04 13:31:18,2019-10-04 16:31:00,2019-10-04 01:31:19,2019-10-04 04:27:53,43199.0,43387.0
23,132,2,2019-10-10 09:24:58,2019-10-10 12:07:00,2019-10-10 09:24:45,2019-10-10 12:06:59,13.0,1.0
24,133,1,2019-10-10 14:31:56,2019-10-10 17:31:26,2019-10-10 02:31:57,2019-10-10 04:41:34,43199.0,46192.0
25,133,2,2019-10-11 10:23:20,2019-10-11 13:23:00,2019-10-11 10:23:21,2019-10-11 13:23:27,-1.0,-27.0
26,134,1,2019-10-09 12:57:15,2019-10-09 15:42:00,2019-10-09 12:57:16,2019-10-09 15:42:27,-1.0,-27.0
27,134,2,2019-10-13 12:56:53,2019-10-13 15:57:00,NaT,NaT,NaN,NaN
28,135,1,2019-10-15 15:32:01,2019-10-15 18:32:00,2019-10-15 03:32:02,2019-10-15 06:31:17,43199.0,43243.0
29,135,2,2019-10-19 12:49:51,2019-10-19 15:50:01,2019-10-19 12:49:52,2019-10-19 15:40:11,-1.0,590.0
30,136,1,2019-10-17 13:41:00,2019-10-17 16:41:00,2019-10-17 01:41:01,2019-10-17 04:40:57,43199.0,43203.0
31,136,2,2019-10-19 09:00:51,2019-10-19 12:01:00,NaT,NaT,NaN,NaN
32,138,1,2019-11-01 16:11:00,2019-11-01 18:01:00,2019-11-01 04:11:01,2019-11-01 06:00:36,43199.0,43224.0
33,138,2,2019-11-02 09:23:00,2019-11-02 12:24:00,NaT,NaT,NaN,NaN
34,139,1,2019-11-03 14:19:59,2019-11-03 17:20:00,NaT,NaT,NaN,NaN
35,139,2,2019-11-05 15:04:59,2019-11-05 18:05:00,NaT,NaT,NaN,NaN
36,140,1,2019-11-09 08:59:21,2019-11-09 11:59:00,2019-11-09 08:59:22,2019-11-09 11:39:53,-1.0,1147.0
37,140,2,2019-11-09 13:04:00,2019-11-09 16:04:00,2019-11-09 01:04:01,2019-11-09 03:23:20,43199.0,45640.0
38,141,1,2019-11-06 12:27:52,2019-11-06 15:29:00,2019-11-06 12:27:53,2019-11-06 15:27:59,-1.0,61.0
39,141,2,2019-11-10 10:01:00,2019-11-10 13:01:00,2019-11-10 10:01:01,2019-11-10 13:00:16,-1.0,44.0
40,143,1,2019-11-16 10:07:00,2019-11-16 13:07:00,NaT,NaT,NaN,NaN
41,143,2,2019-11-18 13:02:00,2019-11-18 16:02:00,2019-11-18 01:02:01,2019-11-18 04:02:05,43199.0,43195.0
42,144,1,2019-11-22 12:38:00,2019-11-22 15:39:00,2019-11-22 12:38:01,2019-11-22 15:38:11,-1.0,49.0
43,144,2,2019-11-23 16:35:01,2019-11-23 19:35:00,2019-11-23 04:35:02,2019-11-23 07:06:33,43199.0,44907.0
44,150,1,2020-01-19 09:29:05,2020-01-19 13:18:25,2020-01-19 09:29:06,2020-01-19 13:17:59,-1.0,26.0
45,150,2,2020-01-21 19:31:59,2020-01-21 22:32:00,2020-01-21 07:31:53,2020-01-21 10:25:49,43206.0,43571.0
46,154,1,2020-02-22 13:07:59,2020-02-22 16:06:59,NaT,NaT,NaN,NaN
47,154,2,2020-02-23 13:04:09,2020-02-23 15:56:00,2020-02-23 01:04:10,2020-02-23 01:06:33,43199.0,53367.0

**Add Issue Flags in Columns**

In [70]:
# Function that flags id/observation pairs if the times between step and coding ground truth are off by around 12 hrs
def flag_military(row):
    if row > 40000:
        return True
    else:
        return False

In [71]:
start_end_info_2 = start_end_info.copy()
start_end_info_2["MilitaryTimeFlag"] = start_end_info_2["StartDiffSecs(GT-seconds)"].apply(flag_military)
start_end_info_2

,ID,Session,Start_GT,End_GT,Start_secondsFile,End_secondsFile,StartDiffSecs(GT-seconds),EndDiffSecs(GT-seconds),MilitaryTimeFlag
0,102,1,2019-07-24 08:20:19,2019-07-24 11:21:13,2019-07-24 08:20:20,2019-07-24 11:05:37,-1.0,936.0,False
1,102,2,2019-07-25 12:42:08,2019-07-25 15:42:00,2019-07-25 12:42:09,2019-07-25 15:28:35,-1.0,805.0,False
2,116,1,2019-08-20 08:08:45,2019-08-20 11:09:00,2019-08-20 08:08:46,2019-08-20 11:08:56,-1.0,4.0,False
3,116,2,2019-08-21 11:10:12,2019-08-21 13:28:00,2019-08-21 11:09:48,2019-08-21 13:26:58,24.0,62.0,False
4,117,1,2019-08-20 15:17:46,2019-08-20 18:18:00,2019-08-20 03:17:47,2019-08-20 06:05:55,43199.0,43925.0,True
5,117,2,2019-08-21 07:11:45,2019-08-21 10:13:00,2019-08-21 07:11:46,2019-08-21 09:41:43,-1.0,1877.0,False
6,122,1,2019-08-28 10:06:41,2019-08-28 13:07:00,2019-08-28 10:06:42,2019-08-28 12:42:21,-1.0,1479.0,False
7,122,2,2019-08-29 15:19:51,2019-08-29 18:23:00,2019-08-29 03:19:52,2019-08-29 06:22:41,43199.0,43219.0,True
8,124,1,2019-08-28 14:59:09,2019-08-28 17:59:05,2019-08-28 02:59:10,2019-08-28 04:49:57,43199.0,47348.0,True
9,124,2,2019-08-29 09:31:00,2019-08-29 12:31:00,2019-08-29 09:31:01,2019-08-29 12:19:15,-1.0,705.0,False
10,126,1,2019-09-02 11:14:51,2019-09-02 14:15:00,NaT,NaT,NaN,NaN,False
11,126,2,2019-09-06 10:36:00,2019-09-06 13:36:00,2019-09-06 10:36:01,2019-09-06 12:51:16,-1.0,2684.0,False
12,127,1,2019-09-05 16:07:56,2019-09-05 19:08:00,2019-09-05 04:07:57,2019-09-05 06:28:24,43199.0,45576.0,True
13,127,2,2019-09-09 10:56:04,2019-09-09 13:56:00,2019-09-09 10:56:01,2019-09-09 13:37:29,3.0,1111.0,False
14,128,1,2019-09-06 07:00:01,2019-09-06 10:00:00,NaT,NaT,NaN,NaN,False
15,128,2,2019-09-10 13:21:00,2019-09-10 16:17:00,2019-09-10 01:21:01,2019-09-10 04:16:36,43199.0,43224.0,True
16,129,1,2019-09-07 08:55:00,2019-09-07 11:55:00,2019-09-07 08:55:01,2019-09-07 11:53:07,-1.0,113.0,False
17,129,2,2019-09-10 16:31:46,2019-09-10 19:32:00,2019-09-10 04:31:47,2019-09-10 07:28:35,43199.0,43405.0,True
18,130,1,2019-09-08 17:28:00,2019-09-08 20:28:00,2019-09-08 05:28:01,2019-09-08 08:25:55,43199.0,43325.0,True
19,130,2,2019-09-10 08:02:01,2019-09-10 11:02:00,2019-09-10 08:02:02,2019-09-10 10:49:00,-1.0,780.0,False
20,131,1,2019-09-12 10:57:42,2019-09-12 13:58:00,2019-09-12 10:57:43,2019-09-12 13:57:50,-1.0,10.0,False
21,131,2,2019-09-16 09:04:54,2019-09-16 11:55:00,2019-09-16 09:04:55,2019-09-16 11:54:51,-1.0,9.0,False
22,132,1,2019-10-04 13:31:18,2019-10-04 16:31:00,2019-10-04 01:31:19,2019-10-04 04:27:53,43199.0,43387.0,True
23,132,2,2019-10-10 09:24:58,2019-10-10 12:07:00,2019-10-10 09:24:45,2019-10-10 12:06:59,13.0,1.0,False
24,133,1,2019-10-10 14:31:56,2019-10-10 17:31:26,2019-10-10 02:31:57,2019-10-10 04:41:34,43199.0,46192.0,True
25,133,2,2019-10-11 10:23:20,2019-10-11 13:23:00,2019-10-11 10:23:21,2019-10-11 13:23:27,-1.0,-27.0,False
26,134,1,2019-10-09 12:57:15,2019-10-09 15:42:00,2019-10-09 12:57:16,2019-10-09 15:42:27,-1.0,-27.0,False
27,134,2,2019-10-13 12:56:53,2019-10-13 15:57:00,NaT,NaT,NaN,NaN,False
28,135,1,2019-10-15 15:32:01,2019-10-15 18:32:00,2019-10-15 03:32:02,2019-10-15 06:31:17,43199.0,43243.0,True
29,135,2,2019-10-19 12:49:51,2019-10-19 15:50:01,2019-10-19 12:49:52,2019-10-19 15:40:11,-1.0,590.0,False
30,136,1,2019-10-17 13:41:00,2019-10-17 16:41:00,2019-10-17 01:41:01,2019-10-17 04:40:57,43199.0,43203.0,True
31,136,2,2019-10-19 09:00:51,2019-10-19 12:01:00,NaT,NaT,NaN,NaN,False
32,138,1,2019-11-01 16:11:00,2019-11-01 18:01:00,2019-11-01 04:11:01,2019-11-01 06:00:36,43199.0,43224.0,True
33,138,2,2019-11-02 09:23:00,2019-11-02 12:24:00,NaT,NaT,NaN,NaN,False
34,139,1,2019-11-03 14:19:59,2019-11-03 17:20:00,NaT,NaT,NaN,NaN,False
35,139,2,2019-11-05 15:04:59,2019-11-05 18:05:00,NaT,NaT,NaN,NaN,False
36,140,1,2019-11-09 08:59:21,2019-11-09 11:59:00,2019-11-09 08:59:22,2019-11-09 11:39:53,-1.0,1147.0,False
37,140,2,2019-11-09 13:04:00,2019-11-09 16:04:00,2019-11-09 01:04:01,2019-11-09 03:23:20,43199.0,45640.0,True
38,141,1,2019-11-06 12:27:52,2019-11-06 15:29:00,2019-11-06 12:27:53,2019-11-06 15:27:59,-1.0,61.0,False
39,141,2,2019-11-10 10:01:00,2019-11-10 13:01:00,2019-11-10 10:01:01,2019-11-10 13:00:16,-1.0,44.0,False
40,143,1,2019-11-16 10:07:00,2019-11-16 13:07:00,NaT,NaT,NaN,NaN,False
41,143,2,2019-11-18 13:02:00,2019-11-18 16:02:00,2019-11-18 01:02:01,2019-11-18 04:02:05,43199.0,43195.0,True
42,144,1,2019-11-22 12:38:00,2019-11-22 15:39:00,2019-11-22 12:38:01,2019-11-22 15:38:11,-1.0,49.0,False
43,144,2,2019-11-23 16:35:01,2019-11-23 19:35:00,2019-11-23 04:35:02,2019-11-23 07:06:33,43199.0,44907.0,True
44,150,1,2020-01-19 09:29:05,2020-01-19 13:18:25,2020-01-19 09:29:06,2020-01-19 13:17:59,-1.0,26.0,False
45,150,2,2020-01-21 19:31:59,2020-01-21 22:32:00,2020-01-21 07:31:53,2020-01-21 10:25:49,43206.0,43571.0,True
46,154,1,2020-02-22 13:07:59,2020-02-22 16:06:59,NaT,NaT,NaN,NaN,False
47,154,2,2020-02-23 13:04:09,2020-02-23 15:56:00,2020-02-23 01:04:10,2020-02-23 01:06:33,43199.0,53367.0,True

**Issues:** 
* Negative start second differences implies that the ground truth start times are OUTSIDE the seconds file session times
* Positive end second differences implies that the ground truth end times are OUTSIDE the seconds file session times

**This implies that we have tagged times for this (ID, Session) pair in our ground truth file that have no information about steps taken :(**

**1\. Ground Truth File contains military time timestamps but seconds file is in AM/PM**
* MilitaryTimeFlag = True means this row has this problem
* **NOTE**: Fixed.

**2\. (ID, Session) pairs missing in seconds file (9 total)**
* Probably just need to throw these out since we do not have step info for these :(

## Fix AM/PM Disparity

In [72]:
start_end_info_3 = start_end_info_2.copy()
# Fix start AM/PM
start_end_info_3['Start_secondsFile'] = start_end_info_3['Start_secondsFile'] + pd.to_timedelta("12:00:00") * start_end_info_3['MilitaryTimeFlag']
# Fix end AM/PM
start_end_info_3['End_secondsFile'] = start_end_info_3['End_secondsFile'] + pd.to_timedelta("12:00:00") * start_end_info_3['MilitaryTimeFlag']
# Recalculate differences
start_end_info_3["StartDiffSecs(GT-seconds)"] = (start_end_info_3["Start_GT"] - start_end_info_3["Start_secondsFile"]).dt.total_seconds()
start_end_info_3["EndDiffSecs(GT-seconds)"] = (start_end_info_3["End_GT"] - start_end_info_3["End_secondsFile"]).dt.total_seconds()
# Recode military time flag
start_end_info_3['MilitaryTimeFlag'] = start_end_info_3["StartDiffSecs(GT-seconds)"].apply(flag_military)
# We need to determine which rows in the second-by-second data fall within the intersection of the groundtruth time intervals, since they don't match up
# Find the greatest start time
start_end_info_3['max_start'] = start_end_info_3[['Start_GT', 'Start_secondsFile']].max(axis=1)
# Find the smallest end time
start_end_info_3['min_end'] = start_end_info_3[['End_GT', 'End_secondsFile']].min(axis=1)
start_end_info_3

,ID,Session,Start_GT,End_GT,Start_secondsFile,End_secondsFile,StartDiffSecs(GT-seconds),EndDiffSecs(GT-seconds),MilitaryTimeFlag,max_start,min_end
0,102,1,2019-07-24 08:20:19,2019-07-24 11:21:13,2019-07-24 08:20:20,2019-07-24 11:05:37,-1.0,936.0,False,2019-07-24 08:20:20,2019-07-24 11:05:37
1,102,2,2019-07-25 12:42:08,2019-07-25 15:42:00,2019-07-25 12:42:09,2019-07-25 15:28:35,-1.0,805.0,False,2019-07-25 12:42:09,2019-07-25 15:28:35
2,116,1,2019-08-20 08:08:45,2019-08-20 11:09:00,2019-08-20 08:08:46,2019-08-20 11:08:56,-1.0,4.0,False,2019-08-20 08:08:46,2019-08-20 11:08:56
3,116,2,2019-08-21 11:10:12,2019-08-21 13:28:00,2019-08-21 11:09:48,2019-08-21 13:26:58,24.0,62.0,False,2019-08-21 11:10:12,2019-08-21 13:26:58
4,117,1,2019-08-20 15:17:46,2019-08-20 18:18:00,2019-08-20 15:17:47,2019-08-20 18:05:55,-1.0,725.0,False,2019-08-20 15:17:47,2019-08-20 18:05:55
5,117,2,2019-08-21 07:11:45,2019-08-21 10:13:00,2019-08-21 07:11:46,2019-08-21 09:41:43,-1.0,1877.0,False,2019-08-21 07:11:46,2019-08-21 09:41:43
6,122,1,2019-08-28 10:06:41,2019-08-28 13:07:00,2019-08-28 10:06:42,2019-08-28 12:42:21,-1.0,1479.0,False,2019-08-28 10:06:42,2019-08-28 12:42:21
7,122,2,2019-08-29 15:19:51,2019-08-29 18:23:00,2019-08-29 15:19:52,2019-08-29 18:22:41,-1.0,19.0,False,2019-08-29 15:19:52,2019-08-29 18:22:41
8,124,1,2019-08-28 14:59:09,2019-08-28 17:59:05,2019-08-28 14:59:10,2019-08-28 16:49:57,-1.0,4148.0,False,2019-08-28 14:59:10,2019-08-28 16:49:57
9,124,2,2019-08-29 09:31:00,2019-08-29 12:31:00,2019-08-29 09:31:01,2019-08-29 12:19:15,-1.0,705.0,False,2019-08-29 09:31:01,2019-08-29 12:19:15
10,126,1,2019-09-02 11:14:51,2019-09-02 14:15:00,NaT,NaT,NaN,NaN,False,2019-09-02 11:14:51,2019-09-02 14:15:00
11,126,2,2019-09-06 10:36:00,2019-09-06 13:36:00,2019-09-06 10:36:01,2019-09-06 12:51:16,-1.0,2684.0,False,2019-09-06 10:36:01,2019-09-06 12:51:16
12,127,1,2019-09-05 16:07:56,2019-09-05 19:08:00,2019-09-05 16:07:57,2019-09-05 18:28:24,-1.0,2376.0,False,2019-09-05 16:07:57,2019-09-05 18:28:24
13,127,2,2019-09-09 10:56:04,2019-09-09 13:56:00,2019-09-09 10:56:01,2019-09-09 13:37:29,3.0,1111.0,False,2019-09-09 10:56:04,2019-09-09 13:37:29
14,128,1,2019-09-06 07:00:01,2019-09-06 10:00:00,NaT,NaT,NaN,NaN,False,2019-09-06 07:00:01,2019-09-06 10:00:00
15,128,2,2019-09-10 13:21:00,2019-09-10 16:17:00,2019-09-10 13:21:01,2019-09-10 16:16:36,-1.0,24.0,False,2019-09-10 13:21:01,2019-09-10 16:16:36
16,129,1,2019-09-07 08:55:00,2019-09-07 11:55:00,2019-09-07 08:55:01,2019-09-07 11:53:07,-1.0,113.0,False,2019-09-07 08:55:01,2019-09-07 11:53:07
17,129,2,2019-09-10 16:31:46,2019-09-10 19:32:00,2019-09-10 16:31:47,2019-09-10 19:28:35,-1.0,205.0,False,2019-09-10 16:31:47,2019-09-10 19:28:35
18,130,1,2019-09-08 17:28:00,2019-09-08 20:28:00,2019-09-08 17:28:01,2019-09-08 20:25:55,-1.0,125.0,False,2019-09-08 17:28:01,2019-09-08 20:25:55
19,130,2,2019-09-10 08:02:01,2019-09-10 11:02:00,2019-09-10 08:02:02,2019-09-10 10:49:00,-1.0,780.0,False,2019-09-10 08:02:02,2019-09-10 10:49:00
20,131,1,2019-09-12 10:57:42,2019-09-12 13:58:00,2019-09-12 10:57:43,2019-09-12 13:57:50,-1.0,10.0,False,2019-09-12 10:57:43,2019-09-12 13:57:50
21,131,2,2019-09-16 09:04:54,2019-09-16 11:55:00,2019-09-16 09:04:55,2019-09-16 11:54:51,-1.0,9.0,False,2019-09-16 09:04:55,2019-09-16 11:54:51
22,132,1,2019-10-04 13:31:18,2019-10-04 16:31:00,2019-10-04 13:31:19,2019-10-04 16:27:53,-1.0,187.0,False,2019-10-04 13:31:19,2019-10-04 16:27:53
23,132,2,2019-10-10 09:24:58,2019-10-10 12:07:00,2019-10-10 09:24:45,2019-10-10 12:06:59,13.0,1.0,False,2019-10-10 09:24:58,2019-10-10 12:06:59
24,133,1,2019-10-10 14:31:56,2019-10-10 17:31:26,2019-10-10 14:31:57,2019-10-10 16:41:34,-1.0,2992.0,False,2019-10-10 14:31:57,2019-10-10 16:41:34
25,133,2,2019-10-11 10:23:20,2019-10-11 13:23:00,2019-10-11 10:23:21,2019-10-11 13:23:27,-1.0,-27.0,False,2019-10-11 10:23:21,2019-10-11 13:23:00
26,134,1,2019-10-09 12:57:15,2019-10-09 15:42:00,2019-10-09 12:57:16,2019-10-09 15:42:27,-1.0,-27.0,False,2019-10-09 12:57:16,2019-10-09 15:42:00
27,134,2,2019-10-13 12:56:53,2019-10-13 15:57:00,NaT,NaT,NaN,NaN,False,2019-10-13 12:56:53,2019-10-13 15:57:00
28,135,1,2019-10-15 15:32:01,2019-10-15 18:32:00,2019-10-15 15:32:02,2019-10-15 18:31:17,-1.0,43.0,False,2019-10-15 15:32:02,2019-10-15 18:31:17
29,135,2,2019-10-19 12:49:51,2019-10-19 15:50:01,2019-10-19 12:49:52,2019-10-19 15:40:11,-1.0,590.0,False,2019-10-19 12:49:52,2019-10-19 15:40:11
30,136,1,2019-10-17 13:41:00,2019-10-17 16:41:00,2019-10-17 13:41:01,2019-10-17 16:40:57,-1.0,3.0,False,2019-10-17 13:41:01,2019-10-17 16:40:57
31,136,2,2019-10-19 09:00:51,2019-10-19 12:01:00,NaT,NaT,NaN,NaN,False,2019-10-19 09:00:51,2019-10-19 12:01:00
32,138,1,2019-11-01 16:11:00,2019-11-01 18:01:00,2019-11-01 16:11:01,2019-11-01 18:00:36,-1.0,24.0,False,2019-11-01 16:11:01,2019-11-01 18:00:36
33,138,2,2019-11-02 09:23:00,2019-11-02 12:24:00,NaT,NaT,NaN,NaN,False,2019-11-02 09:23:00,2019-11-02 12:24:00
34,139,1,2019-11-03 14:19:59,2019-11-03 17:20:00,NaT,NaT,NaN,NaN,False,2019-11-03 14:19:59,2019-11-03 17:20:00
35,139,2,2019-11-05 15:04:59,2019-11-05 18:05:00,NaT,NaT,NaN,NaN,False,2019-11-05 15:04:59,2019-11-05 18:05:00
36,140,1,2019-11-09 08:59:21,2019-11-09 11:59:00,2019-11-09 08:59:22,2019-11-09 11:39:53,-1.0,1147.0,False,2019-11-09 08:59:22,2019-11-09 11:39:53
37,140,2,2019-11-09 13:04:00,2019-11-09 16:04:00,2019-11-09 13:04:01,2019-11-09 15:23:20,-1.0,2440.0,False,2019-11-09 13:04:01,2019-11-09 15:23:20
38,141,1,2019-11-06 12:27:52,2019-11-06 15:29:00,2019-11-06 12:27:53,2019-11-06 15:27:59,-1.0,61.0,False,2019-11-06 12:27:53,2019-11-06 15:27:59
39,141,2,2019-11-10 10:01:00,2019-11-10 13:01:00,2019-11-10 10:01:01,2019-11-10 13:00:16,-1.0,44.0,False,2019-11-10 10:01:01,2019-11-10 13:00:16
40,143,1,2019-11-16 10:07:00,2019-11-16 13:07:00,NaT,NaT,NaN,NaN,False,2019-11-16 10:07:00,2019-11-16 13:07:00
41,143,2,2019-11-18 13:02:00,2019-11-18 16:02:00,2019-11-18 13:02:01,2019-11-18 16:02:05,-1.0,-5.0,False,2019-11-18 13:02:01,2019-11-18 16:02:00
42,144,1,2019-11-22 12:38:00,2019-11-22 15:39:00,2019-11-22 12:38:01,2019-11-22 15:38:11,-1.0,49.0,False,2019-11-22 12:38:01,2019-11-22 15:38:11
43,144,2,2019-11-23 16:35:01,2019-11-23 19:35:00,2019-11-23 16:35:02,2019-11-23 19:06:33,-1.0,1707.0,False,2019-11-23 16:35:02,2019-11-23 19:06:33
44,150,1,2020-01-19 09:29:05,2020-01-19 13:18:25,2020-01-19 09:29:06,2020-01-19 13:17:59,-1.0,26.0,False,2020-01-19 09:29:06,2020-01-19 13:17:59
45,150,2,2020-01-21 19:31:59,2020-01-21 22:32:00,2020-01-21 19:31:53,2020-01-21 22:25:49,6.0,371.0,False,2020-01-21 19:31:59,2020-01-21 22:25:49
46,154,1,2020-02-22 13:07:59,2020-02-22 16:06:59,NaT,NaT,NaN,NaN,False,2020-02-22 13:07:59,2020-02-22 16:06:59
47,154,2,2020-02-23 13:04:09,2020-02-23 15:56:00,2020-02-23 13:04:10,2020-02-23 13:06:33,-1.0,10167.0,False,2020-02-23 13:04:10,2020-02-23 13:06:33

In [73]:
# Check to make sure there are no more AM/PM disparities
start_end_info_3[start_end_info_3['MilitaryTimeFlag']]

Empty DataFrame
Columns: [ID, Session, Start_GT, End_GT, Start_secondsFile, End_secondsFile, StartDiffSecs(GT-seconds), EndDiffSecs(GT-seconds), MilitaryTimeFlag, max_start, min_end]
Index: []

In [74]:
# Edit steps ground truth to fix AM/PM disparities
seconds_3 = seconds_2.merge(right = start_end_info_2[["ID", "Session", "MilitaryTimeFlag", "StartDiffSecs(GT-seconds)"]], how = 'left',
              left_on = ["id", "observation"], right_on = ["ID", "Session"])
seconds_3["date_time"] = seconds_3["date_time"] + pd.to_timedelta("12:00:00") * seconds_3["MilitaryTimeFlag"]
seconds_3 = seconds_3[["id", "observation", "date_time", "Quality", "Step"]]
seconds_3

         id  observation           date_time  Quality  Step
0       102            1 2019-07-24 08:20:20  Codable     0
1       102            1 2019-07-24 08:20:21  Codable     0
2       102            1 2019-07-24 08:20:22  Codable     0
3       102            1 2019-07-24 08:20:23  Codable     0
4       102            1 2019-07-24 08:20:24  Codable     1
...     ...          ...                 ...      ...   ...
376600  154            2 2020-02-23 13:06:29  Codable     1
376601  154            2 2020-02-23 13:06:30  Codable     2
376602  154            2 2020-02-23 13:06:31  Codable     2
376603  154            2 2020-02-23 13:06:32  Codable     1
376604  154            2 2020-02-23 13:06:33  Codable     2

[376605 rows x 5 columns]

In [75]:
# Check for duplicate times
check = seconds_3[["id", "observation", "date_time"]].value_counts()
check[check>1]

Series([], Name: count, dtype: int64)

## Merge Ground Truth Datasets

In [76]:
# Outer merge coding with steps ground truth
merged = pd.merge(left = ground_truth_2, right = seconds_3.drop("Quality", axis=1), how="outer", on=["id", "observation", "date_time"])
# Add flag for times that are inside the max start and min end interval
merged = merged.merge(right = start_end_info_3[["ID", "Session", "max_start", "min_end"]], how = 'left',
                            left_on = ["id", "observation"], right_on = ["ID", "Session"])
merged["inside_flag"] = (merged["date_time"] >= merged["max_start"]) & (merged["date_time"] <= merged["min_end"])
merged = merged.drop(["ID", "Session", "max_start", "min_end"], axis=1)
merged

,id,observation,date,date_time,activity_type,broad_activity_type,work_type,posture,sedentary_not,walking_not,activity_intensity,Step,inside_flag
0,102,1,2019-07-24,2019-07-24 08:20:19,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,NaN,False
1,102,1,2019-07-24,2019-07-24 08:20:20,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,0.0,True
2,102,1,2019-07-24,2019-07-24 08:20:21,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,0.0,True
3,102,1,2019-07-24,2019-07-24 08:20:22,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,0.0,True
4,102,1,2019-07-24,2019-07-24 08:20:23,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
511919,154,2,2020-02-23,2020-02-23 15:55:56,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,NaN,False
511920,154,2,2020-02-23,2020-02-23 15:55:57,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,NaN,False
511921,154,2,2020-02-23,2020-02-23 15:55:58,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,NaN,False
511922,154,2,2020-02-23,2020-02-23 15:55:59,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,NaN,False
511923,154,2,2020-02-23,2020-02-23 15:56:00,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,NaN,False

In [77]:
# Check to make sure that there is only one row per second
check = merged[["id", "observation", "date_time"]].value_counts()
check[check > 1]

Series([], Name: count, dtype: int64)

## Check Valid Rows (Intersection of Steps, Coding Tables)

At this point, we know that the rows are invalid if:

1. The ID and Session/observation are missing from the seconds ground truth entirely, not partially
2. OR They fall outside of where the time intervals of the two ground truth files intersect.

We need to know if any more rows are invalid. The only rows that could be invalid at this point are rows that:

1. Have a valid ID/Session
2. AND they fall within the time interval
3. AND they either don't have steps or coding ground truth

We need to check if any such rows exist.

In [78]:
# List of id/session that were found in the seconds file and in ground truth file
id_session_notna = start_end_info_3[["ID", "Session"]][~start_end_info_3["Start_secondsFile"].isna()]
id_session_notna

     ID  Session
0   102        1
1   102        2
2   116        1
3   116        2
4   117        1
5   117        2
6   122        1
7   122        2
8   124        1
9   124        2
11  126        2
12  127        1
13  127        2
15  128        2
16  129        1
17  129        2
18  130        1
19  130        2
20  131        1
21  131        2
22  132        1
23  132        2
24  133        1
25  133        2
26  134        1
28  135        1
29  135        2
30  136        1
32  138        1
36  140        1
37  140        2
38  141        1
39  141        2
41  143        2
42  144        1
43  144        2
44  150        1
45  150        2
47  154        2

In [79]:
# Find all valid rows - rows that should have data from both coding and step ground truth
# They should be in the valid id/sessions
merged_valid = id_session_notna.merge(right = merged, left_on = ["ID", "Session"], right_on = ["id", "observation"]).drop(["ID", "Session"], axis=1)
# They should also fall within the time interval between the max start and min end of both coding/step ground truth
merged_valid = merged_valid[merged_valid["inside_flag"] == True]
merged_valid

,id,observation,date,date_time,activity_type,broad_activity_type,work_type,posture,sedentary_not,walking_not,activity_intensity,Step,inside_flag
1,102,1,2019-07-24,2019-07-24 08:20:20,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,0.0,True
2,102,1,2019-07-24,2019-07-24 08:20:21,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,0.0,True
3,102,1,2019-07-24,2019-07-24 08:20:22,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,0.0,True
4,102,1,2019-07-24,2019-07-24 08:20:23,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,0.0,True
5,102,1,2019-07-24,2019-07-24 08:20:24,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,1.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
404517,154,2,2020-02-23,2020-02-23 13:06:29,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,1.0,True
404518,154,2,2020-02-23,2020-02-23 13:06:30,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,2.0,True
404519,154,2,2020-02-23,2020-02-23 13:06:31,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,2.0,True
404520,154,2,2020-02-23,2020-02-23 13:06:32,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,1.0,True
404521,154,2,2020-02-23,2020-02-23 13:06:33,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,2.0,True

In [80]:
# Check if there are any invalid rows remaining - there should be none
merged_valid[(merged_valid["walking_not"].isna()) | (merged_valid["Step"].isna())]

Empty DataFrame
Columns: [id, observation, date, date_time, activity_type, broad_activity_type, work_type, posture, sedentary_not, walking_not, activity_intensity, Step, inside_flag]
Index: []

Based on our analysis, there are no invalid rows that:

1. Have a valid ID/Session
2. AND they fall within the time interval
3. AND they either don't have steps or coding ground truth

## Analyze Time Interval Disparity

Here we show the rows that have a valid ID/Session but fall outside the time interval intersection of the two ground truth tables. They should match the sum of the difference in seconds of the start/end that we calculated in the start_end_info tables.

In [81]:
# Find the total number of seconds/rows that fall outside the max start/min end interval
total_outside = start_end_info_3['StartDiffSecs(GT-seconds)'].abs().sum() + start_end_info_3['EndDiffSecs(GT-seconds)'].abs().sum()
total_outside

38189.0

In [82]:
merged_outside = merged[merged["inside_flag"] == False]
merged_outside

,id,observation,date,date_time,activity_type,broad_activity_type,work_type,posture,sedentary_not,walking_not,activity_intensity,Step,inside_flag
0,102,1,2019-07-24,2019-07-24 08:20:19,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,NaN,False
9919,102,1,2019-07-24,2019-07-24 11:05:38,WRK- general,work_education,"SP- Office (business, professional services, f...",walk,not_sedentary,walking,moderate,NaN,False
9920,102,1,2019-07-24,2019-07-24 11:05:39,WRK- screen based,work_education,"SP- Office (business, professional services, f...",sitting,sedentary,not_walking,sedentary,NaN,False
9921,102,1,2019-07-24,2019-07-24 11:05:40,WRK- screen based,work_education,"SP- Office (business, professional services, f...",sitting,sedentary,not_walking,sedentary,NaN,False
9922,102,1,2019-07-24,2019-07-24 11:05:41,WRK- screen based,work_education,"SP- Office (business, professional services, f...",sitting,sedentary,not_walking,sedentary,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
511919,154,2,2020-02-23,2020-02-23 15:55:56,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,NaN,False
511920,154,2,2020-02-23,2020-02-23 15:55:57,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,NaN,False
511921,154,2,2020-02-23,2020-02-23 15:55:58,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,NaN,False
511922,154,2,2020-02-23,2020-02-23 15:55:59,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,NaN,False
511923,154,2,2020-02-23,2020-02-23 15:56:00,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,NaN,False

The numbers match up. We have the correct number of rows that fall outside the interval. Because they fall outside of the interval intersection, they will only have steps or coding ground truth, not both.

We can further separate the two into rows that are in only coding and rows that are only in step count (that fall outside the common time interval intersection).

In [83]:
# Only in step count
sc_only = merged_outside[merged_outside["activity_type"].isna()]
sc_only

,id,observation,date,date_time,activity_type,broad_activity_type,work_type,posture,sedentary_not,walking_not,activity_intensity,Step,inside_flag
32464,116,2,NaN,2019-08-21 11:09:48,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,0.0,False
32465,116,2,NaN,2019-08-21 11:09:49,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,0.0,False
32466,116,2,NaN,2019-08-21 11:09:50,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,0.0,False
32467,116,2,NaN,2019-08-21 11:09:51,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,0.0,False
32468,116,2,NaN,2019-08-21 11:09:52,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
480064,150,2,NaN,2020-01-21 19:31:54,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,0.0,False
480065,150,2,NaN,2020-01-21 19:31:55,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,0.0,False
480066,150,2,NaN,2020-01-21 19:31:56,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,0.0,False
480067,150,2,NaN,2020-01-21 19:31:57,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,0.0,False
480068,150,2,NaN,2020-01-21 19:31:58,NaN,NaN,<NA>,NaN,NaN,NaN,NaN,0.0,False

In [84]:
# Only in coding
gt_only = merged_outside[merged_outside["Step"].isna()]
gt_only

,id,observation,date,date_time,activity_type,broad_activity_type,work_type,posture,sedentary_not,walking_not,activity_intensity,Step,inside_flag
0,102,1,2019-07-24,2019-07-24 08:20:19,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,NaN,False
9919,102,1,2019-07-24,2019-07-24 11:05:38,WRK- general,work_education,"SP- Office (business, professional services, f...",walk,not_sedentary,walking,moderate,NaN,False
9920,102,1,2019-07-24,2019-07-24 11:05:39,WRK- screen based,work_education,"SP- Office (business, professional services, f...",sitting,sedentary,not_walking,sedentary,NaN,False
9921,102,1,2019-07-24,2019-07-24 11:05:40,WRK- screen based,work_education,"SP- Office (business, professional services, f...",sitting,sedentary,not_walking,sedentary,NaN,False
9922,102,1,2019-07-24,2019-07-24 11:05:41,WRK- screen based,work_education,"SP- Office (business, professional services, f...",sitting,sedentary,not_walking,sedentary,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
511919,154,2,2020-02-23,2020-02-23 15:55:56,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,NaN,False
511920,154,2,2020-02-23,2020-02-23 15:55:57,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,NaN,False
511921,154,2,2020-02-23,2020-02-23 15:55:58,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,NaN,False
511922,154,2,2020-02-23,2020-02-23 15:55:59,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,NaN,False
511923,154,2,2020-02-23,2020-02-23 15:56:00,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,NaN,False

Some further analysis on the rows that are only in the coding ground truth:

In [85]:
gt_only_summary = gt_only['activity_type'].value_counts()
gt_only_summary = gt_only_summary.reset_index()
gt_only_summary = gt_only_summary.rename(columns = {"activity_type": "category"})
gt_only_summary['column'] = 'activity_type'

for col in ['broad_activity_type', 'work_type', 'posture', 'sedentary_not', 'walking_not']:
    new_summary = gt_only[col].value_counts()
    new_summary = new_summary.reset_index()
    new_summary = new_summary.rename(columns = {col: "category"})
    new_summary['column'] = col
    gt_only_summary = pd.concat([gt_only_summary, new_summary], axis=0)
    
gt_only_summary.groupby(["column", "category"]).sum()

                                                                        count
column              category
activity_type       CA- caring for and helping children                   384
                    EAT- eating and drinking, waiting                    9488
                    EDU- taking class, research, homework               11759
                    EX- other                                               1
                    EX- surfing/water sport                                 1
                    EX- weight training                                     1
                    HA- food prep and cleanup                               1
                    HA- household management/other household activi...    436
                    HA- lawn, garden and houseplants                       19
                    LES- screen based leisure time (TV, video game,...   3041
                    LES- socializing, communicating, leisure time n...   3212
                    OTHER- non codable                                    167
                    SL- sleep                                               1
                    TRAV- passenger (car/truck/motorcycle)                  1
                    TRAV- walking                                           4
                    WRK- general                                          929
                    WRK- screen based                                    8639
broad_activity_type active_transportation                                   4
                    exercise                                                3
                    household_personal                                    822
                    lawn_garden                                            19
                    leisure                                             15741
                    non_codable                                           167
                    transportation                                          1
                    work_education                                      21327
posture             kneeling/ squatting                                    56
                    lying                                                   1
                    muscle strengthening                                    1
                    private/not coded                                     234
                    sitting                                             37023
                    stand                                                 512
                    stand and move                                        195
                    walk                                                   59
                    walk with load                                          3
sedentary_not       non_codable                                           234
                    not_sedentary                                         770
                    sedentary                                           37080
walking_not         non_codable                                           234
                    not_walking                                         37788
                    walking                                                62
work_type           Other                                                   1
                    SP- Education and Health Services                    2644
                    SP- Leisure and Hospiltality                          638
                    SP- Office (business, professional services, fi...   6122
                    SP- Trade, Retail, Transportation, and Utilities      163

**IMPORTANT NOTE**: Observed, most rows are non-walking, sedentary, sitting. We may re-add these rows to the dataset if we can confirm from Dr. Keadle that we can assume a step count of 0 for these rows.

Some further analysis on the rows only in step count:

In [86]:
sc_only['Step'].value_counts()

Step
0.0    81
1.0    15
2.0     8
3.0     1
Name: count, dtype: int64

## UPDATE: Impute Behavioral-Only with 0s and Re-Add to Data

All behavioral only rows have been determined to be 0 steps. We will impute and add back to the ground truth.

In [87]:
# Impute with 0s
gt_only2 = gt_only.copy()
gt_only2["Step"] = 0

# Add back to dataset
merged_valid2 = pd.concat([merged_valid, gt_only2], ignore_index=True).sort_values(["id", "observation", "date_time"])
merged_valid2

,id,observation,date,date_time,activity_type,broad_activity_type,work_type,posture,sedentary_not,walking_not,activity_intensity,Step,inside_flag
376500,102,1,2019-07-24,2019-07-24 08:20:19,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,0.0,False
0,102,1,2019-07-24,2019-07-24 08:20:20,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,0.0,True
1,102,1,2019-07-24,2019-07-24 08:20:21,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,0.0,True
2,102,1,2019-07-24,2019-07-24 08:20:22,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,0.0,True
3,102,1,2019-07-24,2019-07-24 08:20:23,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
414579,154,2,2020-02-23,2020-02-23 15:55:56,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,0.0,False
414580,154,2,2020-02-23,2020-02-23 15:55:57,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,0.0,False
414581,154,2,2020-02-23,2020-02-23 15:55:58,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,0.0,False
414582,154,2,2020-02-23,2020-02-23 15:55:59,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,0.0,False
414583,154,2,2020-02-23,2020-02-23 15:56:00,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,0.0,False

## Analyze Missing IDs/Sessions from Steps Ground Truth

These rows correspond to coding ground truth ID/Sessions that are missing from the steps ground truth entirely.

In [88]:
# List of id/session that were found in ground truth file but NOT seconds file
id_session_na = start_end_info_3[["ID", "Session"]][start_end_info_3["Start_secondsFile"].isna()]
id_session_na

     ID  Session
10  126        1
14  128        1
27  134        2
31  136        2
33  138        2
34  139        1
35  139        2
40  143        1
46  154        1

In [89]:
merged_invalid_idsession = id_session_na.merge(right = merged, left_on = ["ID", "Session"], right_on = ["id", "observation"]).drop(["ID", "Session"], axis=1)
merged_invalid_idsession

,id,observation,date,date_time,activity_type,broad_activity_type,work_type,posture,sedentary_not,walking_not,activity_intensity,Step,inside_flag
0,126,1,2019-09-02,2019-09-02 11:14:51,"LES- socializing, communicating, leisure time ...",leisure,<NA>,sitting,sedentary,not_walking,sedentary,NaN,True
1,126,1,2019-09-02,2019-09-02 11:14:52,"LES- socializing, communicating, leisure time ...",leisure,<NA>,sitting,sedentary,not_walking,sedentary,NaN,True
2,126,1,2019-09-02,2019-09-02 11:14:53,"LES- socializing, communicating, leisure time ...",leisure,<NA>,sitting,sedentary,not_walking,sedentary,NaN,True
3,126,1,2019-09-02,2019-09-02 11:14:54,"LES- socializing, communicating, leisure time ...",leisure,<NA>,sitting,sedentary,not_walking,sedentary,NaN,True
4,126,1,2019-09-02,2019-09-02 11:14:55,"LES- socializing, communicating, leisure time ...",leisure,<NA>,sitting,sedentary,not_walking,sedentary,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97230,154,1,2020-02-22,2020-02-22 16:06:55,TRAV- walking,active_transportation,<NA>,walk,not_sedentary,walking,moderate,NaN,True
97231,154,1,2020-02-22,2020-02-22 16:06:56,TRAV- walking,active_transportation,<NA>,walk,not_sedentary,walking,moderate,NaN,True
97232,154,1,2020-02-22,2020-02-22 16:06:57,TRAV- walking,active_transportation,<NA>,walk,not_sedentary,walking,moderate,NaN,True
97233,154,1,2020-02-22,2020-02-22 16:06:58,TRAV- walking,active_transportation,<NA>,walk,not_sedentary,walking,moderate,NaN,True
97234,154,1,2020-02-22,2020-02-22 16:06:59,TRAV- walking,active_transportation,<NA>,walk,not_sedentary,walking,moderate,NaN,True

## New Time Intervals

In [90]:
final_start_end = start_time_dataframe(merged_valid2)
final_start_end

     ID  Session               Start                 End
0   102        1 2019-07-24 08:20:19 2019-07-24 11:21:13
1   102        2 2019-07-25 12:42:08 2019-07-25 15:42:00
2   116        1 2019-08-20 08:08:45 2019-08-20 11:09:00
3   116        2 2019-08-21 11:10:12 2019-08-21 13:28:00
4   117        1 2019-08-20 15:17:46 2019-08-20 18:18:00
5   117        2 2019-08-21 07:11:45 2019-08-21 10:13:00
6   122        1 2019-08-28 10:06:41 2019-08-28 13:07:00
7   122        2 2019-08-29 15:19:51 2019-08-29 18:23:00
8   124        1 2019-08-28 14:59:09 2019-08-28 17:59:05
9   124        2 2019-08-29 09:31:00 2019-08-29 12:31:00
10  126        2 2019-09-06 10:36:00 2019-09-06 13:36:00
11  127        1 2019-09-05 16:07:56 2019-09-05 19:08:00
12  127        2 2019-09-09 10:56:04 2019-09-09 13:56:00
13  128        2 2019-09-10 13:21:00 2019-09-10 16:17:00
14  129        1 2019-09-07 08:55:00 2019-09-07 11:55:00
15  129        2 2019-09-10 16:31:46 2019-09-10 19:32:00
16  130        1 2019-09-08 17:28:00 2019-09-08 20:28:00
17  130        2 2019-09-10 08:02:01 2019-09-10 11:02:00
18  131        1 2019-09-12 10:57:42 2019-09-12 13:58:00
19  131        2 2019-09-16 09:04:54 2019-09-16 11:55:00
20  132        1 2019-10-04 13:31:18 2019-10-04 16:31:00
21  132        2 2019-10-10 09:24:58 2019-10-10 12:07:00
22  133        1 2019-10-10 14:31:56 2019-10-10 17:31:26
23  133        2 2019-10-11 10:23:20 2019-10-11 13:23:00
24  134        1 2019-10-09 12:57:15 2019-10-09 15:42:00
25  135        1 2019-10-15 15:32:01 2019-10-15 18:32:00
26  135        2 2019-10-19 12:49:51 2019-10-19 15:50:01
27  136        1 2019-10-17 13:41:00 2019-10-17 16:41:00
28  138        1 2019-11-01 16:11:00 2019-11-01 18:01:00
29  140        1 2019-11-09 08:59:21 2019-11-09 11:59:00
30  140        2 2019-11-09 13:04:00 2019-11-09 16:04:00
31  141        1 2019-11-06 12:27:52 2019-11-06 15:29:00
32  141        2 2019-11-10 10:01:00 2019-11-10 13:01:00
33  143        2 2019-11-18 13:02:00 2019-11-18 16:02:00
34  144        1 2019-11-22 12:38:00 2019-11-22 15:39:00
35  144        2 2019-11-23 16:35:01 2019-11-23 19:35:00
36  150        1 2020-01-19 09:29:05 2020-01-19 13:18:25
37  150        2 2020-01-21 19:31:59 2020-01-21 22:32:00
38  154        2 2020-02-23 13:04:09 2020-02-23 15:56:00

Compare to log:

In [91]:
log = pd.read_csv("do_log_final.csv")
log["Start"] = pd.to_datetime(log["start_month"].astype(str) + "/" +
                              log["start_day"].astype(str) + "/" +
                              log["start_year"].astype(str) + "/" + ' ' +
                              log["start_time"])
log["End"] = pd.to_datetime(log["start_month"].astype(str) + "/" +
                              log["start_day"].astype(str) + "/" +
                              log["start_year"].astype(str) + "/" + ' ' +
                              log["stop_time"])
log = log[['id', 'do', 'Start', 'End']].rename(columns = {"do": "Session", "id": "ID"})
log

     ID  Session               Start                 End
0   102        1 2019-07-24 08:20:19 2019-07-24 11:21:13
1   102        2 2019-07-25 12:42:08 2019-07-25 15:42:00
2   116        1 2019-08-20 08:08:45 2019-08-20 11:09:00
3   116        2 2019-08-21 11:09:47 2019-08-21 13:28:00
4   117        1 2019-08-20 15:17:46 2019-08-20 18:18:00
5   117        2 2019-08-21 07:11:45 2019-08-21 10:13:00
6   122        1 2019-08-28 10:06:41 2019-08-28 13:07:00
7   122        2 2019-08-29 15:19:51 2019-08-29 18:23:00
8   124        1 2019-08-28 14:59:09 2019-08-28 17:59:05
9   124        2 2019-08-29 09:31:00 2019-08-29 12:31:00
10  126        1 2019-09-02 11:14:51 2019-09-02 14:15:00
11  126        2 2019-09-06 10:36:00 2019-09-06 13:36:00
12  127        1 2019-09-05 16:07:56 2019-09-05 19:08:00
13  127        2 2019-09-09 10:56:00 2019-09-09 13:56:00
14  128        1 2019-09-06 07:00:01 2019-09-06 10:00:00
15  128        2 2019-09-10 13:21:00 2019-09-10 16:17:00
16  129        1 2019-09-07 08:55:00 2019-09-07 11:55:00
17  129        2 2019-09-10 16:31:46 2019-09-10 19:32:00
18  130        1 2019-09-08 17:28:00 2019-09-08 20:28:00
19  130        2 2019-09-10 08:02:01 2019-09-10 11:02:00
20  131        1 2019-09-12 10:57:42 2019-09-12 13:58:00
21  131        2 2019-09-16 09:04:54 2019-09-16 11:55:00
22  132        1 2019-10-04 13:31:18 2019-10-04 16:31:00
23  132        2 2019-10-10 09:24:44 2019-10-10 12:07:00
24  133        1 2019-10-10 14:31:56 2019-10-10 17:31:26
25  133        2 2019-10-11 10:23:20 2019-10-11 13:23:00
26  134        1 2019-10-09 12:57:15 2019-10-09 15:42:00
27  134        2 2019-10-13 12:56:53 2019-10-13 15:57:00
28  135        1 2019-10-15 15:32:01 2019-10-15 18:32:00
29  135        2 2019-10-19 12:49:51 2019-10-19 15:50:01
30  136        1 2019-10-17 13:41:00 2019-10-17 16:41:00
31  136        2 2019-10-19 09:00:51 2019-10-19 12:01:00
32  138        1 2019-11-01 16:11:00 2019-11-01 18:01:00
33  138        2 2019-11-02 09:23:00 2019-11-02 12:24:00
34  139        1 2019-11-03 14:19:51 2019-11-03 17:20:00
35  139        2 2019-11-05 15:04:47 2019-11-05 18:05:00
36  140        1 2019-11-09 08:59:21 2019-11-09 11:59:00
37  140        2 2019-11-09 13:04:00 2019-11-09 16:04:00
38  141        1 2019-11-06 12:27:52 2019-11-06 15:29:00
39  141        2 2019-11-10 10:01:00 2019-11-10 13:01:00
40  143        1 2019-11-16 10:07:00 2019-11-16 13:07:00
41  143        2 2019-11-18 13:02:00 2019-11-18 16:02:00
42  144        1 2019-11-22 12:38:00 2019-11-22 15:39:00
43  144        2 2019-11-23 16:35:01 2019-11-23 19:35:00
44  150        1 2020-01-19 09:29:05 2020-01-19 13:18:25
45  150        2 2020-01-21 19:31:52 2020-01-21 22:32:00
46  154        1 2020-02-22 13:07:59 2020-02-22 16:06:59
47  154        2 2020-02-23 13:04:09 2020-02-23 15:56:00

In [92]:
log_compare = final_start_end.merge(log, on=["ID", "Session"], how="outer", suffixes=("_final", "_log"))
log_compare["Start_diff"] = (log_compare["Start_final"] - log_compare["Start_log"]).dt.total_seconds()
log_compare["End_diff"] = (log_compare["End_final"] - log_compare["End_log"]).dt.total_seconds()
log_compare

,ID,Session,Start_final,End_final,Start_log,End_log,Start_diff,End_diff
0,102,1,2019-07-24 08:20:19,2019-07-24 11:21:13,2019-07-24 08:20:19,2019-07-24 11:21:13,0.0,0.0
1,102,2,2019-07-25 12:42:08,2019-07-25 15:42:00,2019-07-25 12:42:08,2019-07-25 15:42:00,0.0,0.0
2,116,1,2019-08-20 08:08:45,2019-08-20 11:09:00,2019-08-20 08:08:45,2019-08-20 11:09:00,0.0,0.0
3,116,2,2019-08-21 11:10:12,2019-08-21 13:28:00,2019-08-21 11:09:47,2019-08-21 13:28:00,25.0,0.0
4,117,1,2019-08-20 15:17:46,2019-08-20 18:18:00,2019-08-20 15:17:46,2019-08-20 18:18:00,0.0,0.0
5,117,2,2019-08-21 07:11:45,2019-08-21 10:13:00,2019-08-21 07:11:45,2019-08-21 10:13:00,0.0,0.0
6,122,1,2019-08-28 10:06:41,2019-08-28 13:07:00,2019-08-28 10:06:41,2019-08-28 13:07:00,0.0,0.0
7,122,2,2019-08-29 15:19:51,2019-08-29 18:23:00,2019-08-29 15:19:51,2019-08-29 18:23:00,0.0,0.0
8,124,1,2019-08-28 14:59:09,2019-08-28 17:59:05,2019-08-28 14:59:09,2019-08-28 17:59:05,0.0,0.0
9,124,2,2019-08-29 09:31:00,2019-08-29 12:31:00,2019-08-29 09:31:00,2019-08-29 12:31:00,0.0,0.0
10,126,1,NaT,NaT,2019-09-02 11:14:51,2019-09-02 14:15:00,NaN,NaN
11,126,2,2019-09-06 10:36:00,2019-09-06 13:36:00,2019-09-06 10:36:00,2019-09-06 13:36:00,0.0,0.0
12,127,1,2019-09-05 16:07:56,2019-09-05 19:08:00,2019-09-05 16:07:56,2019-09-05 19:08:00,0.0,0.0
13,127,2,2019-09-09 10:56:04,2019-09-09 13:56:00,2019-09-09 10:56:00,2019-09-09 13:56:00,4.0,0.0
14,128,1,NaT,NaT,2019-09-06 07:00:01,2019-09-06 10:00:00,NaN,NaN
15,128,2,2019-09-10 13:21:00,2019-09-10 16:17:00,2019-09-10 13:21:00,2019-09-10 16:17:00,0.0,0.0
16,129,1,2019-09-07 08:55:00,2019-09-07 11:55:00,2019-09-07 08:55:00,2019-09-07 11:55:00,0.0,0.0
17,129,2,2019-09-10 16:31:46,2019-09-10 19:32:00,2019-09-10 16:31:46,2019-09-10 19:32:00,0.0,0.0
18,130,1,2019-09-08 17:28:00,2019-09-08 20:28:00,2019-09-08 17:28:00,2019-09-08 20:28:00,0.0,0.0
19,130,2,2019-09-10 08:02:01,2019-09-10 11:02:00,2019-09-10 08:02:01,2019-09-10 11:02:00,0.0,0.0
20,131,1,2019-09-12 10:57:42,2019-09-12 13:58:00,2019-09-12 10:57:42,2019-09-12 13:58:00,0.0,0.0
21,131,2,2019-09-16 09:04:54,2019-09-16 11:55:00,2019-09-16 09:04:54,2019-09-16 11:55:00,0.0,0.0
22,132,1,2019-10-04 13:31:18,2019-10-04 16:31:00,2019-10-04 13:31:18,2019-10-04 16:31:00,0.0,0.0
23,132,2,2019-10-10 09:24:58,2019-10-10 12:07:00,2019-10-10 09:24:44,2019-10-10 12:07:00,14.0,0.0
24,133,1,2019-10-10 14:31:56,2019-10-10 17:31:26,2019-10-10 14:31:56,2019-10-10 17:31:26,0.0,0.0
25,133,2,2019-10-11 10:23:20,2019-10-11 13:23:00,2019-10-11 10:23:20,2019-10-11 13:23:00,0.0,0.0
26,134,1,2019-10-09 12:57:15,2019-10-09 15:42:00,2019-10-09 12:57:15,2019-10-09 15:42:00,0.0,0.0
27,134,2,NaT,NaT,2019-10-13 12:56:53,2019-10-13 15:57:00,NaN,NaN
28,135,1,2019-10-15 15:32:01,2019-10-15 18:32:00,2019-10-15 15:32:01,2019-10-15 18:32:00,0.0,0.0
29,135,2,2019-10-19 12:49:51,2019-10-19 15:50:01,2019-10-19 12:49:51,2019-10-19 15:50:01,0.0,0.0
30,136,1,2019-10-17 13:41:00,2019-10-17 16:41:00,2019-10-17 13:41:00,2019-10-17 16:41:00,0.0,0.0
31,136,2,NaT,NaT,2019-10-19 09:00:51,2019-10-19 12:01:00,NaN,NaN
32,138,1,2019-11-01 16:11:00,2019-11-01 18:01:00,2019-11-01 16:11:00,2019-11-01 18:01:00,0.0,0.0
33,138,2,NaT,NaT,2019-11-02 09:23:00,2019-11-02 12:24:00,NaN,NaN
34,139,1,NaT,NaT,2019-11-03 14:19:51,2019-11-03 17:20:00,NaN,NaN
35,139,2,NaT,NaT,2019-11-05 15:04:47,2019-11-05 18:05:00,NaN,NaN
36,140,1,2019-11-09 08:59:21,2019-11-09 11:59:00,2019-11-09 08:59:21,2019-11-09 11:59:00,0.0,0.0
37,140,2,2019-11-09 13:04:00,2019-11-09 16:04:00,2019-11-09 13:04:00,2019-11-09 16:04:00,0.0,0.0
38,141,1,2019-11-06 12:27:52,2019-11-06 15:29:00,2019-11-06 12:27:52,2019-11-06 15:29:00,0.0,0.0
39,141,2,2019-11-10 10:01:00,2019-11-10 13:01:00,2019-11-10 10:01:00,2019-11-10 13:01:00,0.0,0.0
40,143,1,NaT,NaT,2019-11-16 10:07:00,2019-11-16 13:07:00,NaN,NaN
41,143,2,2019-11-18 13:02:00,2019-11-18 16:02:00,2019-11-18 13:02:00,2019-11-18 16:02:00,0.0,0.0
42,144,1,2019-11-22 12:38:00,2019-11-22 15:39:00,2019-11-22 12:38:00,2019-11-22 15:39:00,0.0,0.0
43,144,2,2019-11-23 16:35:01,2019-11-23 19:35:00,2019-11-23 16:35:01,2019-11-23 19:35:00,0.0,0.0
44,150,1,2020-01-19 09:29:05,2020-01-19 13:18:25,2020-01-19 09:29:05,2020-01-19 13:18:25,0.0,0.0
45,150,2,2020-01-21 19:31:59,2020-01-21 22:32:00,2020-01-21 19:31:52,2020-01-21 22:32:00,7.0,0.0
46,154,1,NaT,NaT,2020-02-22 13:07:59,2020-02-22 16:06:59,NaN,NaN
47,154,2,2020-02-23 13:04:09,2020-02-23 15:56:00,2020-02-23 13:04:09,2020-02-23 15:56:00,0.0,0.0

In [93]:
# log export for data pull
log_exp = log_compare.copy()
log_exp["Start"] = log_exp["Start_final"].combine_first(log_exp["Start_log"])
log_exp["End"] = log_exp["End_final"].combine_first(log_exp["End_log"])
log_exp[["ID", "Session", "Start", "End"]].to_csv("log-new.csv", index=False)

## Final Table

**Final Ground Truth with Invalid Rows Dropped**

In [94]:
final_gt = merged_valid2.drop(["inside_flag"], axis=1).rename(columns={"Step": "step"})
final_gt['step'] = final_gt['step'].astype(int)
final_gt

,id,observation,date,date_time,activity_type,broad_activity_type,work_type,posture,sedentary_not,walking_not,activity_intensity,step
376500,102,1,2019-07-24,2019-07-24 08:20:19,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,0
0,102,1,2019-07-24,2019-07-24 08:20:20,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,0
1,102,1,2019-07-24,2019-07-24 08:20:21,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,0
2,102,1,2019-07-24,2019-07-24 08:20:22,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,0
3,102,1,2019-07-24,2019-07-24 08:20:23,WRK- general,work_education,SP- Education and Health Services,stand,not_sedentary,not_walking,light,0
...,...,...,...,...,...,...,...,...,...,...,...,...
414579,154,2,2020-02-23,2020-02-23 15:55:56,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,0
414580,154,2,2020-02-23,2020-02-23 15:55:57,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,0
414581,154,2,2020-02-23,2020-02-23 15:55:58,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,0
414582,154,2,2020-02-23,2020-02-23 15:55:59,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,0
414583,154,2,2020-02-23,2020-02-23 15:56:00,"EDU- taking class, research, homework",work_education,<NA>,sitting,sedentary,not_walking,sedentary,0

In [95]:
final_gt.to_csv("merged_groundtruth_secbysec.csv", index=False)